<div class="congtainer-fluid ">

    <div class="congtainer m-5 ">
        
        <table class="table table-sm table-striped ">
            <thead>
                <tr class="bg-dark text-light   ">
                    <th>Id</th>
                    <th>Engineer First Name</th>
                    <th>Engineer Last Name</th>
                    <th>Email.ID</th>
                    <th>Action1</th>
                    <th>Action2</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" *ngFor="let e of listdata ">
                <td> {{e.id}}</td>
                <td>{{e.firstName}}</td>
                <td>{{e.lastName}}</td>
                <td>{{e.emailId}}</td>
                <td>
                    <button class="btn btn-secondary btn-sm" [routerLink]="['/update/',e.id]" >Edit</button>
                   
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="deleteEng(e.id)">delete</button>
                </td>
               
            </tr>   
        </tbody>
        
    </table>
    
</div>
</div>
    
